.tools{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;

}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-right: 20px;
}

.instagram-card{
  margin: 10px;
  width:350px; height:auto;
}



.instagram-card-image{
  width: 350px;
  padding: 3px;

}


.instagram-preview-card{
  margin: 10px;
  width:220px; height:auto;
}



.instagram-preview-card-image{
  width: 220px;
  padding: 3px;
}

.img-comments{
  padding-right: 5px;
  font-family: 'Slabo 27px', serif;

}


.img-likes{
  padding-right: 5px;
  font-family: 'Slabo 27px', serif;

}

.img-date{
  font-family: 'Slabo 27px', serif;
}

.img-caption{
font-family: 'Slabo 27px', serif;
}

/*** iphone 6+ ***/
/* Portrait */
@media (max-width: 600px) {
.instagram-card-image, .instagram-card{
width: 95%;
}

}
